# Swift Package Manager
.build/
.swiftpm/

# IDE settings and dev docs
DerivedData/
xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xccheckout
*.xcscmblueprint
.DS_Store
.idea
.worktrees/
.superpowers/
docs/superpowers/
*.md
!README.md
!THIRD_PARTY_NOTICES.md
